<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @asset.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @asset.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @asset.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @asset.description %>
</p>
<p>
  <b>Remaining:</b>
  <%= @asset.remaining %>
</p>

<p>
  <b>Hits:</b>
  <%= @asset.hits %>
</p>


<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>